<!--PreethiKumarasamy_COMP229Assignment1-->
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>


<body style="background-image: url('/Assets/images/nature.jpg'); opacity: 0.75;">
  <main class="container">
    
    <div class="jumbotron">
      <p style="color:#0d0e0c"class="display-4"> Hello All!</p>
      <p style="color:#000000d5" class="display-5"> My hearty Welcome to my Portfolio</p>
      <a class="nav-link " href="/about"><i class="fas fa-laptop-house"></i>Click here to know more about me!!! </a>
      <a class="nav-link " href="/Projects"><i class="fab fa-product-hunt"></i>Here are some of my projects!!! </a>
      <a class="nav-link " href="/contact"><i class="fas fa-mobile-alt"></i>contact me through this!!! </a>
      <a class="nav-link " href="/services"><i class="fas fa-laptop-code"></i> Here are some of my services !!! </a>
    </div>

  </main>
 
<%- include ../partials/bottom_nav.ejs %> 
<%- include ../partials/footer.ejs %>